<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="about.html" class="navigation-links-navlink">
      <span>EWRSとは？</span>
    </a>
    <a href="oubo.html" class="navigation-links-navlink1">
      <span>職員募集</span>
    </a>
    <a href="partner-link.html" class="navigation-links-navlink2">
      <span>連携団体・リンク</span>
    </a>
    <a href="contact.html" class="navigation-links-navlink3">
      <span>お問い合わせ</span>
    </a>
  </nav>
</div>
